<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]"/>
    <link href="https://unpkg.com/tailwindcss@@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
@await Html.PartialAsync("_Header")
<div class="container mx-auto px-4 p-5">
    <h1 class="font-sans text-gray-800 text-center text-5xl mb-10">@ViewData["TitlePage"]</h1>
    @RenderBody()
</div>
<div class="clearfix"></div>
@await Html.PartialAsync("_Footer")
</body>
</html>
